/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-text-field-wrapper {
  background-color: transparent !important;
}

.mdc-text-field {
  padding: 0 0 0 16px;
}

.mat-mdc-button {
  float: right;
}
